<div class="media-highlight row">
  <%= image_tag "birds.png" %>
</div>

<div class="row">
  <aside class="small-3 columns">
    <h3 class="button">new birds</h3>
    <ul>
      <li><%= image_tag(@products.first.image_url) %>
          <%= @products.first.name %>
          <%= @products.first.price %></li>
      <li><%= @products.first.name %></li>
      <li><%= @products.first.name %></li>
      <li><%= @products.first.name %></li>
      <li><%= @products.first.name %></li>
    </ul>


    <h3 class="button">best seller</h3>
    <ul>
      <li><%= @products.first.name %></li>
      <li><%= @products.first.name %></li>
      <li><%= @products.first.name %></li>
      <li><%= @products.first.name %></li>
      <li><%= @products.first.name %></li>
    </ul>
  </aside>


  <article class="small-9 columns">
    <section>
      <!-- <h3>some heading</h3> -->
      <div class="small-12 columns">
        <div class="small-4 columns">
          <%= image_tag(@products.first.image_url) %>
          <%= @products.first.name %>
          <%= @products.first.price %>
        </div>
        <div class="small-4 columns">
          <%= image_tag(@products.last.image_url) %>
          <%= @products.last.name %>
          <%= @products.last.price %>
        </div>
        <div class="small-4 columns">
          <%= image_tag(@products.first.image_url) %>
          <%= @products.first.name %>
          <%= @products.first.price %>
        </div>
      </div>
    </section>
    <section>
      <div class="ads small-5 columns">
        <div class="float-left">
          <%= image_tag "truck.png" %>
        </div>
        <div class="float-right">
          <h3>FREE SHIPPING</h3>
          <p>on order over $50</p>
        </div>
      </div>
      <div class="ads small-5 columns">
        <div class="float-left">
          <%= image_tag "phone.png" %>
        </div>
        <div class="float-right">
          <h3>GIVE US A CALL</h3>
          <p>1-800-00-BIRDS</p>
        </div>
      </div>
    </section>
    <section>
      <!-- <h3>some heading</h3> -->
      <div class="small-12 columns">
        <div class="small-4 columns">
          <%= image_tag(@products.first.image_url) %>
          <%= @products.first.name %>
          <%= @products.first.price %>
        </div>
        <div class="small-4 columns">
          <%= image_tag(@products.last.image_url) %>
          <%= @products.last.name %>
          <%= @products.last.price %>
        </div>
        <div class="small-4 columns">
          <%= image_tag(@products.first.image_url) %>
          <%= @products.first.name %>
          <%= @products.first.price %>
        </div>
      </div>
    </section>

  </article>

</div>
