<!-- <section class="row small-up-2 medium-up-3 large-up-4">
<h3><strong>Order Summary</strong></h3>
<%@order_items.each do |order_item|%>
<article class="column">
<%= link_to (image_tag(order_item.product.image_url)), product_path(order_item.product) %>
<p>
  <ul>
    <li>
      <%=link_to order_item.product.name, product_path(order_item.product) %>
    </li>
    <li> Cost:
      <%= OrderItem.total_cost(order_item) %>
    </li>
    <li>
      Number ordered: <%=order_item.quantity %>
    </li>

</ul>
</p>
<p>
  <%if order_item.status == "Shipped"%>
    Item is on it's way!
  <% elsif order_item.status == "Cancelled"%>
    The merchant, <%=order_item.product.merchant.username%>, has canceled this order.
  <%else %>
   The order is being processed.
   <%end%>
</p>
</article>
<%end%>

</section> -->
