<h1> All Orders </h1>

<% @orders.each do |order| %>
  <ul>
    <li>ID:  <%= link_to order.id, order_path(order) %> </li>
    <li>Status:  <%= order.status %> </li>
    <li>Customer Name:  <%= order.customer_name %> </li>
    <li>Customer Email Address:  <%= order.customer_email %> </li>
    <li>Credit Card Number:  <%= order.cc_number %> </li>
    <li>Credit Card Expiration Date:  <%= order.cc_expiration %> </li>
    <li>Credit Card CCV:  <%= order.cc_ccv %> </li>
    <li>Billing Zipcode:  <%= order.zip_code %> </li>
  </ul>
<% end %>
