<div class="merchant-show row">

<%= render partial: "merchants/nav_aside" %>
<section class="small-8 columns">
<table>
  <thead>
    <tr>
      <th width="80">Order</th>
      <th width="200">Date</th>
      <th width="100">Product</th>
      <th width="100">Price</th>
      <th width="100">Quantity</th>
      <th width="100">Subtotal</th>
      <th width="100">Item Status</th>
      <th width="100">Order Status</th>
    </tr>
  </thead>
  <tbody>
    <% @quantity_sum = 0 %>
    <% @total = 0 %>
    <% @order_items.each do |order_item| %>
    <tr>
      <td><%=link_to order_item.order_id, order_path(order_item.order_id)%></td>
      <td><%=order_item.created_at%></td>
      <td><%=link_to order_item.product.name, product_path(order_item.product_id)%></td>
      <td><%=order_item.product.price%></td>
      <td><%=order_item.quantity%></td>
      <td><%=order_item.product.price * order_item.quantity%></td>
      <td>
        <%#form_for%>
        <%# link_to "Edit", edit_product_path(product.id), class: "button" %>
        <% if order_item.order.status != "Shipped" %>
          <%= link_to "Ship", order_path(order_item.order_id, :order => {:status => "Shipped" }), method: :patch, class: "button" %>
        <% else %>
          <%="Shipped"%>
        <% end %>
        <%=link_to "cancel", order_item_path(order_item.id), method: :delete, class: "button"%>

        <%#link_to "Submit order", edit_order_path(@order_id), class: "button"%>

      </td>
      <td><%=order_item.order.status%></td>
      <% @quantity_sum += order_item.quantity %>
      <%@total+=order_item.product.price * order_item.quantity%>
    </tr>

    <% end %>
    <tr class="total">
      <td colspan="4">total</td>
      <td><%=@quantity_sum%></td>
      <td><%=@total%></td>
    </tr>
  </tbody>
</table>
</section>
</div>
