<section class="row">
  <h3>Order Confirmation Page</h3>
  <p>Congratulations on submitting your order!</p>

  <section class="small-4 columns">
    <p>Total Cost: <%= OrderItem.total_cost(@order_items) %></p>
    <p>Order Placed: <%= @order.created_at.strftime('%d %b %Y') %></p>
    <p>Status: <%= @order.status %></p>
    <%= link_to "Continue Shopping", products_path, class: "cart button" %>
  </section>

  <section class="small-8 columns">
    <table class="shopping-cart">
    <thead>
      <tr>
        <th width="150">Product</th>
        <th width="100">Quantity</th>
        <th width="100">Subtotal</th>
      </tr>
    </thead>
    <tbody>
      <% @order_items.each do |order_item| %>
        <tr>
          <td><h5><%= link_to order_item.product.name,   product_path(order_item.product) %></h5><span><%= link_to " by #{order_item.product.merchant.username}", products_merchant_path(order_item.product.merchant) %></span></td>
          <td><%= order_item.quantity %></td>
          <td><%= OrderItem.subtotal(order_item) %></td>
        </tr>
        <% end %>
    </tbody>
  </table>

  </section>

</section>
