<h1><%= @merchant.username %> </h1>

<ul>
  <li>Name:  <%= @merchant.username %> </li>
  <li>Email:  <%= @merchant.email %> </li>
  <li><%= link_to 'Add new product', new_product_path %> </li>
</ul>
<h3>Products sold by <%=@merchant.username%></h3>
<ul>
<% @merchant.product.each do |product|%>
  <li>
    <fig>
    <img src = "<%= product.image_url %>"/>
  <figcaption>
  <%= link_to product.name, product_path(product) %>
    </figcaption>
  </fig>
  </li>
  <% end %>
</ul>
