<div class="merchant-show row">
  <%= render partial: "merchants/nav_aside" %>
  <section class="small-8 columns">
    <%= link_to "New Product", new_product_path, class: "button" %>
    <%= link_to "New Category", new_merchant_category_path, class: "button" %>

    <h4>Available Categories</h4>
    <table>
      <thead>
        <tr>
          <th width="200">Category</th>
          <th width="200">Products</th>
          <th width="200">My Products</th>
        </tr>
      </thead>
      <tbody>
        <% @categories.each do |category| %>
          <tr>
            <td><%= link_to category.name, category_products_path(category.id) %></td>
            <td><%= link_to category.products.count, category_products_path(category.id) %></td>
            <td><%= link_to category.products.where(merchant: @merchant).count, merchant_category_products_path(@merchant.id, category.id)%></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </section>

</div>
