<div class="merchant-show row">
  <%= render partial: "merchants/nav_aside" %>
  <section class="small-9 columns">
    <%= link_to "New Product", new_product_path, class: "button" %>
    <%= link_to "New Category", new_merchant_category_path, class: "button" %>

    <% [false, true].each do |status| %>
      <% products = @merchant.products.where(retired: status) %>
      <% if status %>
        <h4>Retired Products</h4>
      <% else %>
        <h4>Active Products</h4>
      <% end %>
      <table>
        <thead>
          <tr>
            <th width="80">Image</th>
            <th width="200">Name</th>
            <th width="100">Rating</th>
            <th width="100">Quantity</th>
            <th width="100">Price</th>
            <th>Manage</th>
          </tr>
        </thead>
        <tbody>
          <% products.each do |product| %>
            <tr>
              <td><%= image_tag product.image_url %></td>
              <td><%= link_to product.name, product_path(product.id) %></td>
              <td>rating</td>
              <td><%= product.stock %></td>
              <td><%= product.price %></td>
              <td><%= link_to "Edit", edit_product_path(product.id), class: "button" %>
              <% if !product.retired %>
                <%= link_to "Retire", product_path(product.id, :product => {:retired => true }), method: :patch, class: "button" %>
              <% else %>
                <%= link_to "Activate", product_path(product.id, :product => {:retired => false }), method: :patch, class: "button" %>
              <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </section>

</div>
