<div class="merchant-show row">
  <%= render partial: "merchants/nav_aside" %>
  <section class="small-8 columns">
    <%= link_to "New Product", new_product_path, class: "button" %>
    <%= link_to "New Category", new_category_path, class: "button" %>
    <%# @merchant.products.group_by{ ||}(retired:) %>

      <h4>Products</h4>
      <table>
        <thead>
          <tr>
            <th width="80">Image</th>
            <th width="200">Name</th>
            <th width="70">Quantity</th>
            <th width="70">Price</th>
            <th>Manage</th>
          </tr>
        </thead>
        <tbody>
          <% @merchant.products.each do |product| %>
            <tr>
              <td><%= image_tag product.image_url %></td>
              <td><%= product.name %></td>
              <td><%= product.stock %></td>
              <td><%= product.price %></td>
              <td><%= link_to "Edit", edit_product_path(product.id), class: "button" %>
              <%= link_to "Retire", product_path(product.id), class: "button" %>
              <%= link_to "Add quantity", product_path(product.id), class: "button" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
  </section>

</div>
