<div class="product row">

  <div class="show-im small-5 columns">
    <%= image_tag(@product.image_url) %>
  </div>
  <div class="show-desc small-7 columns">
    <ul>
      <li id="merchant"><%= link_to @product.merchant.username, root_path %></li>
      <li><h2><%= @product.name %></h2></li>
      <li class="rating">rating in stars, 10 customer reviews</li>
      <li>Price:  <%= @product.price %> </li>
      <% if @product.stock != nil %>
        <li><span class="green">In Stock</span> (only <%= @product.stock %> left) </li>
      <% else %>
        <li>Out of Stock</li>
      <% end %>
      <li><%= @product.description %> </li>

      <%= form_for @order_item do |f| %>
      <%= f.hidden_field :product_id, value: @product.id%>
      <%= f.label :Quantity %>
      <%= f.select :quantity, (1..@product.stock).to_a %>
      <%= f.submit "Add to Cart", class: "cart button"%>
      <% end %>
    </ul>

  </div>

</div>

<!-- <div class="review row"> -->
  <!-- <h3>Customer reviews</h3> -->
  <!-- <p>rating in stars, 10 customer reviews</p> -->
  <!-- <article> -->
    <!-- <p>list all review</p> -->
    <%# @product.reviews.each do |review| %>
      <!-- <%#= review.rating %><p>in start</p> -->
      <!-- <p><%#= review.text %></p> -->
    <%# end %>
  <!-- </article> -->

</div>
