<div class="product row">
  <% if @product.retired %>
  <div class="banner">
    <h5>This product is currently unavailable</h5>
  </div>
  <% end %>
  <div class="show-im small-5 columns">
    <%= image_tag(@product.image_url) %>
    <div class="categories">
      <% @product.categories.each do |category| %>
      <%= link_to category.name, category_products_path(category.id), class: "button small" %>
      <% end %>
    </div>
  </div>
  <div class="show-desc small-7 columns">
    <ul>
      <li id="merchant"><%= link_to @product.merchant.username, products_merchant_path(@product.merchant) %></li>
      <li><h2><%= @product.name %></h2></li>
      <li><span><%= render partial: "layouts/stars", locals: { rating: @product.average_rating } %></span>, <%= @product.reviews.count %> customer reviews</li>
      <li>Price:  <%= @product.price %> </li>
      <%if @product.retired %>
       <li> <span class="green">No stock for retired products </span></li>
       <% else %>
        <% if @product.stock != nil && @product.stock != 0 %>
          <li><span class="green">In Stock</span> (only <%= @product.stock %> left) </li>
        <% else %>
          <li>Out of Stock</li>
        <% end %>
      <% end %>
      <li><%= @product.description %> </li>

      <% if !@product.retired %>
        <%= form_for @order_item do |f| %>
        <%= f.hidden_field :product_id, value: @product.id%>
        <%= f.label :Quantity %>
        <%= f.select :quantity, (1..@product.stock).to_a %>
        <%= f.submit "Add to Cart", class: "cart button"%>
        <% end %>
      <%end%>
    </ul>
  </div>
</div>

<div class="review row">

  <h3>Customer reviews</h3>
  <p><span><%= render partial: "layouts/stars", locals: { rating: @product.average_rating } %></span>, <%= @product.reviews.count %> customer reviews</p>
  <%= link_to "Write a Review", new_product_review_path, class: "cart button" %>
  <article class="reviews">
    <% @product.reviews.each do |review| %>
    <section>
      <span><%= render partial: "layouts/stars", locals: { rating: review.rating } %></span>
      <p>left on <%= review.created_at.localtime.strftime("%d %b %Y") %></p>
      <p><%= review.text %></p>
    </section>
    <% end %>
  </article>

</div>
