<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <header>
      <div class="page-header">
        <div class="row">
          <%= link_to image_tag('birdsy.png'), root_path %>
          <%= image_tag "cart-icon.png", class: "float-right" %>
        </div>
      </div>

      <nav class="row nav">
        <%= link_to "home", root_path, class: "button" %>
        <%= link_to "All products", products_path, class: "button" %>
        <%= link_to "shop by merchant", merchants_path, class: "button" %>
        <% if session[:merchant_id] %>
          <div class="float-right">
          <p class="button">loggen in as <%= Merchant.find(session[:merchant_id]).username %></p>
          <%= link_to "log out", logout_path, class: "button" %></div>
        <% else %>
          <%= link_to "login", '/auth/github', class: "button float-right" %>
        <% end %>
      </nav>
    </header>

    <main>
      <%= yield %>
    </main>

    <footer>
      <p>&copy; 2017, The Big Bird, Inc.</p>
    </footer>


  </body>
</html>
